.home-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 2rem;
  background-color: #f4f4f4;
  transition: margin-left 0.3s ease;
  margin-left: 250px;
}

.sidebar.closed + .content {
  margin-left: 60px;
}